# 0. Content

This script contains the wrangling and merging of the raw 2015 - 2019 World Happiness Index data frames. This includes:
+ Checking column compaitibilty
+ Wrangling procedures (dropping columns, renaming columns, checking data types, transposing)
+ Adding a year column
+ Merging dataframes

# 1. Importing Libraries and Data

In [2]:
# importing libraries
import pandas as pd
import numpy as np
import os

In [3]:
# creating main path 
path = r'C:\Users\muffi\OneDrive\CareerFoundry\World Happiness Index Analysis 2023'

In [4]:
# importing 2015 WHR dataframe
df_2015 = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', '2015.csv'))
df_2015.shape

(158, 12)

In [5]:
# importing 2016 WHR dataframe
df_2016 = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', '2016.csv'))
df_2016.shape

(157, 13)

In [6]:
# importing 2017 WHR dataframe
df_2017 = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', '2017.csv'))
df_2017.shape

(155, 12)

In [7]:
# importing 2018 WHR dataframe
df_2018 = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', '2018.csv'))
df_2018.shape

(156, 9)

In [8]:
# importing 2019 WHR dataframe
df_2019 = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', '2019.csv'))
df_2019.shape

(156, 9)

In [9]:
# setting the max number of rows
pd.set_option('display.max_rows', 500)

# 2. Column Analysis

I plan to stack the table on top of each other. To ensure a seamless merge, I will ensure the columns match up

In [10]:
# looking at the 2015 columns
df_2015.columns

Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Standard Error', 'Economy (GDP per Capita)', 'Family',
       'Health (Life Expectancy)', 'Freedom', 'Trust (Government Corruption)',
       'Generosity', 'Dystopia Residual'],
      dtype='object')

In [11]:
# looking at 2016 columns
df_2016.columns

Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Lower Confidence Interval', 'Upper Confidence Interval',
       'Economy (GDP per Capita)', 'Family', 'Health (Life Expectancy)',
       'Freedom', 'Trust (Government Corruption)', 'Generosity',
       'Dystopia Residual'],
      dtype='object')

In [12]:
# looking at 2017 columns
df_2017.columns

Index(['Country', 'Happiness.Rank', 'Happiness.Score', 'Whisker.high',
       'Whisker.low', 'Economy..GDP.per.Capita.', 'Family',
       'Health..Life.Expectancy.', 'Freedom', 'Generosity',
       'Trust..Government.Corruption.', 'Dystopia.Residual'],
      dtype='object')

In [13]:
# looking at 2018 columns
df_2018.columns

Index(['Overall rank', 'Country or region', 'Score', 'GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption'],
      dtype='object')

In [14]:
# looking at 2019 columns
df_2019.columns

Index(['Overall rank', 'Country or region', 'Score', 'GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption'],
      dtype='object')

The df have the following columns in common:
+ Country/Country or Region
+ Happiness Rank/Overal rank
+ Happiness Score
+ Economy (GDP per capita)
+ Family/ Social Support
+ Health
+ Freedom
+ Trust/Perceptions of Political Corruption
+ Generosity

# 2. Data Wrangling

This section contain the wrangling of the dfs. This includes:
+ dropping columns 
+ renaming columns
+ changing column data types
+ Transposing dataframes

## 2.1. Dropping

Dropping any columns not mentioned in the previous list.

In [18]:
# dropping standard error, region, and Distopia residual cols from 2015 df
df_15_drop = df_2015.drop(columns = ['Standard Error', 'Dystopia Residual', 'Region'])

In [19]:
# checking remaining 2015 cols
df_15_drop.columns

Index(['Country', 'Happiness Rank', 'Happiness Score',
       'Economy (GDP per Capita)', 'Family', 'Health (Life Expectancy)',
       'Freedom', 'Trust (Government Corruption)', 'Generosity'],
      dtype='object')

In [115]:
# looking at 2015 df shape
df_15_drop.shape

(158, 9)

In [20]:
# dropping region, lower and upper confindence intervals, and Dystopia residual cols from 2016 df
df_16_drop = df_2016.drop(columns = ['Region', 'Lower Confidence Interval', 'Upper Confidence Interval', 'Dystopia Residual'])

In [21]:
# checking remaining 2016 cols
df_16_drop.columns

Index(['Country', 'Happiness Rank', 'Happiness Score',
       'Economy (GDP per Capita)', 'Family', 'Health (Life Expectancy)',
       'Freedom', 'Trust (Government Corruption)', 'Generosity'],
      dtype='object')

In [116]:
# checking at 2016 df shape
df_16_drop.shape

(157, 9)

In [22]:
# dropping whisker high and lower, and Dystopia residual cols from 2017 df
df_17_drop = df_2017.drop(columns = ['Whisker.low', 'Whisker.high', 'Dystopia.Residual'])

In [23]:
# checking the remaining 2017 cols
df_17_drop.columns

Index(['Country', 'Happiness.Rank', 'Happiness.Score',
       'Economy..GDP.per.Capita.', 'Family', 'Health..Life.Expectancy.',
       'Freedom', 'Generosity', 'Trust..Government.Corruption.'],
      dtype='object')

In [117]:
# checking df 2017 shape
df_17_drop.shape

(155, 9)

In [24]:
# 2018 and 2019 are fine, but I want the same naming coventions
df_18_drop = df_2018
df_19_drop= df_2019

## 2.2. Renaming

All columns will be renamed to fit the following covention:
+ location
+ rank
+ happiness_score
+ gdp_per_capita
+ social_support
+ life_expectancy
+ freedom
+ trust_in_government
+ generosity

In [25]:
# creating object for new names for the 2015 df
name_15 = {'Country' : 'location', 
           'Happiness Rank' : 'rank', 
           'Happiness Score' : 'happiness_score',
           'Economy (GDP per Capita)' : 'gdp_per_capita',
           'Family' : 'social_support',
           'Health (Life Expectancy)' : 'life_expectancy',
           'Freedom' : 'freedom',
           'Trust (Government Corruption)' : 'trust_in_government', 
           'Generosity' : 'generosity'   
}

In [77]:
# changing col names in 2015 df
df_15_rename = df_15_drop.rename(columns = name_15)

In [78]:
# checking cols in 2015 df
df_15_rename.columns

Index(['location', 'rank', 'happiness_score', 'gdp_per_capita',
       'social_support', 'life_expectancy', 'freedom', 'trust_in_government',
       'generosity'],
      dtype='object')

In [31]:
# creating object for new names for the 2016 df
name_16 = {'Country' : 'location', 
           'Happiness Rank' : 'rank', 
           'Happiness Score' : 'happiness_score',
           'Economy (GDP per Capita)' : 'gdp_per_capita',
           'Family' : 'social_support',
           'Health (Life Expectancy)' : 'life_expectancy',
           'Freedom' : 'freedom',
           'Trust (Government Corruption)' : 'trust_in_government', 
           'Generosity' : 'generosity'   
}

In [32]:
# changing col names in 2016 df
df_16_rename = df_16_drop.rename(columns = name_16)

In [33]:
# checking cols in 2016 df
df_16_rename.columns

Index(['location', 'rank', 'happiness_score', 'gdp_per_capita',
       'social_support', 'life_expectancy', 'freedom', 'trust_in_government',
       'generosity'],
      dtype='object')

In [42]:
# creating object for new names for the 2017 df
name_17 = {'Country' : 'location', 
           'Happiness.Rank' : 'rank', 
           'Happiness.Score' : 'happiness_score',
           'Economy..GDP.per.Capita.' : 'gdp_per_capita',
           'Family' : 'social_support',
           'Health..Life.Expectancy.' : 'life_expectancy',
           'Freedom' : 'freedom',
           'Trust..Government.Corruption.' : 'trust_in_government', 
           'Generosity' : 'generosity'   
}

In [43]:
# changing col names in 2017 df
df_17_rename = df_17_drop.rename(columns = name_17)

In [44]:
# checking the cols in 2017 df
df_17_rename.columns

Index(['location', 'rank', 'happiness_score', 'gdp_per_capita',
       'social_support', 'life_expectancy', 'freedom', 'generosity',
       'trust_in_government'],
      dtype='object')

In [49]:
# creating object for new names for the 2018 df
name_18 = {'Country or region' : 'location', 
           'Overall rank' : 'rank', 
           'Score' : 'happiness_score',
           'GDP per capita' : 'gdp_per_capita',
           'Social support' : 'social_support',
           'Healthy life expectancy' : 'life_expectancy',
           'Freedom to make life choices' : 'freedom',
           'Perceptions of corruption' : 'trust_in_government', 
           'Generosity' : 'generosity'   
}

In [50]:
# changing col names in 2018 df
df_18_rename = df_18_drop.rename(columns = name_18)

In [51]:
# checking the cols in 2018 df
df_18_rename.columns

Index(['rank', 'location', 'happiness_score', 'gdp_per_capita',
       'social_support', 'life_expectancy', 'freedom', 'generosity',
       'trust_in_government'],
      dtype='object')

In [52]:
# creating object for new names for the 2019 df
name_19 = {'Country or region' : 'location', 
           'Overall rank' : 'rank', 
           'Score' : 'happiness_score',
           'GDP per capita' : 'gdp_per_capita',
           'Social support' : 'social_support',
           'Healthy life expectancy' : 'life_expectancy',
           'Freedom to make life choices' : 'freedom',
           'Perceptions of corruption' : 'trust_in_government', 
           'Generosity' : 'generosity'   
}

In [54]:
# changing col name in 2019 df
df_19_rename = df_19_drop.rename(columns = name_19)

In [55]:
# checking the cols in the 2019 df
df_19_rename.columns

Index(['rank', 'location', 'happiness_score', 'gdp_per_capita',
       'social_support', 'life_expectancy', 'freedom', 'generosity',
       'trust_in_government'],
      dtype='object')

## 2.3. Changing Data Types

Making sure the follow data types are adhered to:
+ rank is an int
+ region is a string
+ the rest are floats

In [56]:
# checking 2015 df data type
df_15_rename.dtypes

location                object
rank                     int64
happiness_score        float64
gdp_per_capita         float64
social_support         float64
life_expectancy        float64
freedom                float64
trust_in_government    float64
generosity             float64
dtype: object

In [57]:
# checking 2016 df data types
df_16_rename.dtypes

location                object
rank                     int64
happiness_score        float64
gdp_per_capita         float64
social_support         float64
life_expectancy        float64
freedom                float64
trust_in_government    float64
generosity             float64
dtype: object

In [58]:
# checking 2017 df data types
df_17_rename.dtypes

location                object
rank                     int64
happiness_score        float64
gdp_per_capita         float64
social_support         float64
life_expectancy        float64
freedom                float64
generosity             float64
trust_in_government    float64
dtype: object

In [59]:
# checking 2018 df data types
df_18_rename.dtypes

rank                     int64
location                object
happiness_score        float64
gdp_per_capita         float64
social_support         float64
life_expectancy        float64
freedom                float64
generosity             float64
trust_in_government    float64
dtype: object

In [60]:
# checking 2019 df data types
df_19_rename.dtypes

rank                     int64
location                object
happiness_score        float64
gdp_per_capita         float64
social_support         float64
life_expectancy        float64
freedom                float64
generosity             float64
trust_in_government    float64
dtype: object

All the data types are correct

## 2.4. Transposing

No transposing needed

# 3. Data Merging

The section is for merged the dataframes together to prep for further cleaning

## 3.1. Year Column

I want to add a year col so these dataframes can be distriguishable after merging

In [79]:
# creating fully wrangled 2015 df
df_15_wrang = df_15_rename

In [81]:
# adding year col filled with 2015
df_15_wrang.loc[df_15_wrang['rank'] > 0, 'year'] = 2015

In [83]:
# checking that all the columns are filled 
df_15_wrang['year'].value_counts()/len(df_15_wrang)

2015.0    1.0
Name: year, dtype: float64

In [84]:
# creating fully wrangled 2016 df
df_16_wrang = df_16_rename

In [86]:
# adding year col filled with 2016
df_16_wrang.loc[df_16_wrang['rank'] > 0, 'year'] = 2016

In [87]:
# checking that all the columns are filled 
df_16_wrang['year'].value_counts()/len(df_16_wrang)

2016.0    1.0
Name: year, dtype: float64

In [88]:
# creating fully wrangled 2017 df
df_17_wrang = df_17_rename

In [89]:
# adding year col filled with 2017
df_17_wrang.loc[df_17_wrang['rank'] > 0, 'year'] = 2017

In [90]:
# checking that all the columns are filled 
df_17_wrang['year'].value_counts()/len(df_17_wrang)

2017.0    1.0
Name: year, dtype: float64

In [91]:
# creating fully wrangled 2018 df
df_18_wrang = df_18_rename

In [94]:
# adding year col filled with 2018
df_18_wrang.loc[df_18_wrang['rank'] > 0, 'year'] = 2018

In [95]:
# checking that all the columns are filled 
df_18_wrang['year'].value_counts()/len(df_18_wrang)

2018.0    1.0
Name: year, dtype: float64

In [96]:
# creating fully wrangled 2019 df
df_19_wrang = df_19_rename

In [97]:
# adding year col filled with 2019
df_19_wrang.loc[df_19_wrang['rank'] > 0, 'year'] = 2019

In [98]:
# checking that all the columns are filled 
df_19_wrang['year'].value_counts()/len(df_19_wrang)

2019.0    1.0
Name: year, dtype: float64

## 3.2. Merging

In [105]:
# merging the dataframes
df_all_wrang = pd.concat([df_15_wrang, df_16_wrang, df_17_wrang, df_18_wrang, df_19_wrang], axis = 0)

In [106]:
# checking the merged df
df_all_wrang.head()

,location,rank,happiness_score,gdp_per_capita,social_support,life_expectancy,freedom,trust_in_government,generosity,year
0,Switzerland,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2015.0
1,Iceland,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2015.0
2,Denmark,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2015.0
3,Norway,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2015.0
4,Canada,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2015.0

In [107]:
# checking for all 5 years
df_all_wrang['year'].value_counts()

2015.0    158
2016.0    157
2018.0    156
2019.0    156
2017.0    155
Name: year, dtype: int64

In [108]:
# changing year to int
df_all_wrang['year'] = df_all_wrang['year'].astype(int)

In [110]:
# making sure year is an int
df_all_wrang['year'].value_counts()

2015    158
2016    157
2018    156
2019    156
2017    155
Name: year, dtype: int64

# 4. Exporting Data

In [112]:
df_all_wrang.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'all_years_wrangled.csv'))

In [118]:
df_all_wrang.shape

(782, 10)