# Importing Libraries and Data

In [1]:
# importing libaraies
import pandas as pd
import numpy as np
import os
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib
import folium
import json
import geopandas as gpd

In [2]:
# creating main path
path = r'C:\Users\muffi\OneDrive\CareerFoundry\World Happiness Index Analysis 2023'

In [3]:
# importing WHI data 
df_all_clean = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'all_years_cleaned.csv'))
df_all_clean.shape

(781, 11)

In [4]:
# importing geospatial data
country_geo = r'C:\Users\muffi\OneDrive\CareerFoundry\World Happiness Index Analysis 2023\02 Data\Original Data\countries.geojson'

In [5]:
# matplotlib visuals to appear in the notebook 
%matplotlib inline

In [6]:
# showing more rows
pd.set_option('display.max_rows', 500)

# Happiness Score Choropleth

In [7]:
# checking the cols
df_all_clean.head()

,Unnamed: 0,location,rank,happiness_score,gdp_per_capita,social_support,life_expectancy,freedom,trust_in_government,generosity,year
0,0,Switzerland,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2015
1,1,Iceland,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2015
2,2,Denmark,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2015
3,3,Norway,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2015
4,4,Canada,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2015

In [8]:
# creating a subset df of data to plot
happy_region = df_all_clean[['happiness_score', 'location']]

In [9]:
map = folium.Map(location = [40, -95], zoom_start = 4)

folium.Choropleth(
    geo_data = country_geo, 
    data = happy_region,
    columns = ['happiness_score', 'location'],
    key_on = 'feature.properties.ADMIN',
    fill_color = 'YlOrBr', fill_opacity=0.6, line_opacity=0.1,
    legend_name = 'Happiness Score').add_to(map)

folium.LayerControl().add_to(map)

TypeError: ufunc 'isnan' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''

In [12]:
# checking for null in happy-region
happy_region.isnull().sum()

happiness_score    0
location           0
dtype: int64

In [13]:
# checking for blank locations
happy_region['location'].value_counts(dropna = False)

Switzerland                 5
Dominican Republic          5
Greece                      5
Lebanon                     5
Hungary                     5
Honduras                    5
Tajikistan                  5
Tunisia                     5
Palestinian Territories     5
Bangladesh                  5
Iran                        5
Ukraine                     5
Iraq                        5
South Africa                5
Ghana                       5
Zimbabwe                    5
Liberia                     5
Mongolia                    5
Bosnia and Herzegovina      5
Vietnam                     5
Albania                     5
Kyrgyzstan                  5
Nigeria                     5
Bhutan                      5
Azerbaijan                  5
Pakistan                    5
Jordan                      5
Montenegro                  5
China                       5
Zambia                      5
Iceland                     5
Serbia                      5
Portugal                    5
Latvia                      5
Philippines                 5
Morocco                     5
India                       5
Haiti                       5
Congo (Kinshasa)            5
Nepal                       5
Gabon                       5
Niger                       5
Cambodia                    5
Tanzania                    5
Madagascar                  5
Chad                        5
Guinea                      5
Ivory Coast                 5
Burkina Faso                5
Afghanistan                 5
Rwanda                      5
Benin                       5
Syria                       5
Burundi                     5
Togo                        5
Senegal                     5
Uganda                      5
Congo (Brazzaville)         5
Myanmar                     5
Ethiopia                    5
Sierra Leone                5
Mauritania                  5
Kenya                       5
Armenia                     5
Botswana                    5
Georgia                     5
Mali                        5
Malawi                      5
Sri Lanka                   5
Cameroon                    5
Bulgaria                    5
Egypt                       5
Yemen                       5
Turkey                      5
Romania                     5
Indonesia                   5
United Kingdom              5
Singapore                   5
Panama                      5
Germany                     5
Chile                       5
Qatar                       5
France                      5
Argentina                   5
Czech Republic              5
Uruguay                     5
Colombia                    5
Estonia                     5
Saudi Arabia                5
Spain                       5
Malta                       5
Kuwait                      5
Venezuela                   5
Belgium                     5
Guatemala                   5
Ireland                     5
Denmark                     5
Norway                      5
Canada                      5
Finland                     5
Netherlands                 5
Sweden                      5
New Zealand                 5
Australia                   5
Israel                      5
Costa Rica                  5
Austria                     5
Mexico                      5
United States               5
Brazil                      5
Luxembourg                  5
El Salvador                 5
Thailand                    5
Uzbekistan                  5
Malaysia                    5
Croatia                     5
Belarus                     5
Libya                       5
Russia                      5
Jamaica                     5
Peru                        5
Cyprus                      5
Algeria                     5
Nicaragua                   5
Kosovo                      5
Lithuania                   5
Turkmenistan                5
Slovenia                    5
Mauritius                   5
Kazakhstan                  5
Paraguay                    5
Moldova                     5
Bolivia                     5
Italy                       5
Bahrain                     5
Ecuador                     5
South Korea                 5
Japan                       5
Slovakia                    5
Poland                      5
Hong Kong                   4
Somalia                     4
Namibia                     4
Central African Republic    4
South Sudan                 4
Macedonia                   4
Laos                        4
Mozambique                  4
United Arab Emirates        4
Angola                      4
Sudan                       4
Lesotho                     4
Taiwan                      4
Trinidad and Tobago         3
Comoros                     3
North Cyprus                3
Belize                      3
Trinidad & Tobago           2
Suriname                    2
Northern Cyprus             2
Swaziland                   2
Hong Kong S.A.R., China     1
North Macedonia             1
Somaliland region           1
Puerto Rico                 1
Taiwan Province of China    1
Somaliland Region           1
Djibouti                    1
Oman                        1
Gambia                      1
Name: location, dtype: int64

In [14]:
# creating df of locations
locations = happy_region['location']

In [15]:
# dropping dupliates from locations
location = locations.drop_duplicates()

In [16]:
# all locations
location

0                   Switzerland
1                       Iceland
2                       Denmark
3                        Norway
4                        Canada
5                       Finland
6                   Netherlands
7                        Sweden
8                   New Zealand
9                     Australia
10                       Israel
11                   Costa Rica
12                      Austria
13                       Mexico
14                United States
15                       Brazil
16                   Luxembourg
17                      Ireland
18                      Belgium
19         United Arab Emirates
20               United Kingdom
21                         Oman
22                    Venezuela
23                    Singapore
24                       Panama
25                      Germany
26                        Chile
27                        Qatar
28                       France
29                    Argentina
30               Czech Republic
31                      Uruguay
32                     Colombia
33                     Thailand
34                 Saudi Arabia
35                        Spain
36                        Malta
37                       Taiwan
38                       Kuwait
39                     Suriname
40          Trinidad and Tobago
41                  El Salvador
42                    Guatemala
43                   Uzbekistan
44                     Slovakia
45                        Japan
46                  South Korea
47                      Ecuador
48                      Bahrain
49                        Italy
50                      Bolivia
51                      Moldova
52                     Paraguay
53                   Kazakhstan
54                     Slovenia
55                    Lithuania
56                    Nicaragua
57                         Peru
58                      Belarus
59                       Poland
60                     Malaysia
61                      Croatia
62                        Libya
63                       Russia
64                      Jamaica
65                 North Cyprus
66                       Cyprus
67                      Algeria
68                       Kosovo
69                 Turkmenistan
70                    Mauritius
71                    Hong Kong
72                      Estonia
73                    Indonesia
74                      Vietnam
75                       Turkey
76                   Kyrgyzstan
77                      Nigeria
78                       Bhutan
79                   Azerbaijan
80                     Pakistan
81                       Jordan
82                   Montenegro
83                        China
84                       Zambia
85                      Romania
86                       Serbia
87                     Portugal
88                       Latvia
89                  Philippines
90            Somaliland region
91                      Morocco
92                    Macedonia
93                   Mozambique
94                      Albania
95       Bosnia and Herzegovina
96                      Lesotho
97           Dominican Republic
98                         Laos
99                     Mongolia
100                   Swaziland
101                      Greece
102                     Lebanon
103                     Hungary
104                    Honduras
105                  Tajikistan
106                     Tunisia
107     Palestinian Territories
108                  Bangladesh
109                        Iran
110                     Ukraine
111                        Iraq
112                South Africa
113                       Ghana
114                    Zimbabwe
115                     Liberia
116                       India
117                       Sudan
118                       Haiti
119            Congo (Kinshasa)
120                       Nepal
121                    Ethiopia
122                Sierra Leone
123                  Mauritania
124                       Kenya
125                    Djibouti
126                     Armenia
127                    Botswana
128                     Myanmar
129                     Georgia
130                      Malawi
131                   Sri Lanka
132                    Cameroon
133                    Bulgaria
134                       Egypt
135                       Yemen
136                      Angola
137                        Mali
138         Congo (Brazzaville)
139                     Comoros
140                      Uganda
141                     Senegal
142                       Gabon
143                       Niger
144                    Cambodia
145                    Tanzania
146                  Madagascar
147    Central African Republic
148                        Chad
149                      Guinea
150                 Ivory Coast
151                Burkina Faso
152                 Afghanistan
153                      Rwanda
154                       Benin
155                       Syria
156                     Burundi
157                        Togo
172                 Puerto Rico
209                      Belize
233                     Somalia
254           Somaliland Region
270                     Namibia
300                 South Sudan
347    Taiwan Province of China
385     Hong Kong S.A.R., China
506           Trinidad & Tobago
526             Northern Cyprus
708             North Macedonia
744                      Gambia
Name: location, dtype: object

In [17]:
renamed_location = {'United States' : 'United States of America',
    'North Cyprus' : 'Northern Cyprus',
    'Hong Kong' : 'Hong Kong S.A.R.',
    'Serbia' : 'Republic of Serbia',
    'Somaliland region' : 'Somaliland',
    'Palestinian Territories' : 'Palestine',
    'Congo (Kinshasa)' : 'Democratic Republic of the Congo',
    'Congo (Brazzaville)' : 'Republic of Congo',
    'Tanzania' : 'United Republic of Tanzania',
    'Somaliland Region' : 'Somaliland',
    'Taiwan Province of China' : 'Taiwan',
    'Hong Kong S.A.R., China' : 'Hong Kong S.A.R.',
    'Trinidad & Tobago' : 'Trinidad and Tobago',
    'North Macedonia' : 'Macedonia'

SyntaxError: unexpected EOF while parsing (4180015242.py, line 14)

In [18]:
# renaming United States
df_all_clean.loc[df_all_clean['location'] == 'United States', 'location'] = 'United States of America'

In [19]:
# renaming North Cyprus
df_all_clean.loc[df_all_clean['location'] == 'North Cyprus', 'location'] = 'Northern Cyprus'

In [20]:
# renaming Hong Kong
df_all_clean.loc[df_all_clean['location'] == 'Hong Kong', 'location'] = 'Hong Kong S.A.R.'

In [21]:
# renaming Serbia
df_all_clean.loc[df_all_clean['location'] == 'Serbia', 'location'] = 'Republic of Serbia'

In [22]:
# renaming Somaliland region
df_all_clean.loc[df_all_clean['location'] == 'Somaliland region', 'location'] = 'Somaliland'

In [23]:
# renaming Palestinian Territories
df_all_clean.loc[df_all_clean['location'] == 'Palestinian Territories', 'location'] = 'Palestine'

In [24]:
# renaming Congo (Kinshasa)
df_all_clean.loc[df_all_clean['location'] == 'Congo (Kinshasa)', 'location'] = 'Democratic Republic of the Congo'

In [25]:
# renaming Congo (Brazzaville)
df_all_clean.loc[df_all_clean['location'] == 'Congo (Brazzaville)', 'location'] = 'Republic of Congo'

In [26]:
# renaming Tanzania
df_all_clean.loc[df_all_clean['location'] == 'Tanzania', 'location'] = 'United Republic of Tanzania'

In [27]:
# renaming Somaliland Region
df_all_clean.loc[df_all_clean['location'] == 'Somaliland Region', 'location'] = 'Somaliland'

In [28]:
# renaming Taiwan Province of China
df_all_clean.loc[df_all_clean['location'] == 'Taiwan Province of China', 'location'] = 'Taiwan'

In [29]:
# renaming Hong Kong S.A.R., China
df_all_clean.loc[df_all_clean['location'] == 'Hong Kong S.A.R., China', 'location'] = 'Hong Kong S.A.R.'

In [30]:
# renaming Trinidad & Tobago
df_all_clean.loc[df_all_clean['location'] == 'Trinidad & Tobago', 'location'] = 'Trinidad and Tobago'

In [31]:
# renaming North Macedonia
df_all_clean.loc[df_all_clean['location'] == 'North Macedonia', 'location'] = 'Macedonia'

In [32]:
# creating a subset df of data to plot
happy_region = df_all_clean[['happiness_score', 'location']]

In [33]:
# setinup a folium map at a high-level soom
map = folium.Map(location = [100, 0], zoom_start = 1.5)

# creating choropleth of happiness score by region
folium.Choropleth(
    geo_data = country_geo,
    data = happy_region,
    columns = ['happiness_score', 'location'],
    key_on = 'feature.properties.ADMIN',
    fill_color = 'YlOrBr', fill_opacity=0.6, line_opacity=0.1,
    legend_name = 'Happiness Score').add_to(map)
folium.LayerControl().add_to(map)

# showing map
map

TypeError: ufunc 'isnan' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''

In [35]:
df_all_clean.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'all_years_cleaned_renamed.csv'))